.footer_container {
    display: flex;
    width: 100%;
    min-width: 1180px;
    height: 250px;
}

.contact_container {
    float: left;
    width: 60%;
    background: #00a5cf;
    margin-right: 5px;
    margin-left: 20px;
    display: block;
}

#contact {
    width: 100%;
    height: 100%;
    display: flex;
}

.contactbox {
    display: inline-block;
    width: 100%;
    height: auto;
    margin-left: 50px;
    margin-top: 30px;
    line-height: 35px;
}

.contactme {
    font-size: 14px;
}

.contactbox a {
    text-decoration: none;
    color: black;
}

.contactbox a:hover {
    text-decoration: none;
    color: #00509d;
}

.blog_container {
    float: left;
    width: 40%;
    background: #fca311;
    margin-right: 20px;
    margin-left: 5px;
    display: flex;
}

#blog {
    display: inline-block;
    width: 360px;
    margin-top: 30px;
    margin-left: 50px;
}

#blog > h1 {
    color: black;
}

iframe {
    border: none;
    width: 100%;
    margin-top: 10px;
}

#mouse_stalker {
    pointer-events: none;
    position: fixed;
    top: -8px; /*Align the cursor position with the center of the circle*/
    left: -8px; /*Align the cursor position with the center of the circle*/
    width: 20px; /*Diameter of mouse_stalker*/
    height: 20px; /*Diameter of mouse_stalker*/
    background: white;
    border-radius: 50%;
    transition: transform 0.2s; /*Follow after silghty late*/
    transition-timing-function: ease-out;
    z-index: 101;
}
