* {
    margin: 0;
    padding: 0;
}

html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    background: #003049;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* Navigation style */
.topnav {
    width: 100%;
    display: flex;
    background: #003049;
    z-index: 100;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-direction: column;
    min-width: 1000px;
}

.positionFixed {
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
}

.navContainer {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.headername {
    font-size: 40px;
    font-weight: 500;
    line-height: 1.6;
    text-decoration: none;
    flex-grow: 1;
    color: #fff;
}

.headername:hover {
    color: #5390d9;
}

.navigationLink {
    position: relative;
    display: inline-flex;
    padding: 6px 8px;
    font-size: 2rem;
    min-width: 64px;
    box-sizing: border-box;
    font-weight: 500;
    line-height: 1.6;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
    color: white;
}

.buttonLabel {
}

nav.main_list {
    float: right;
    width: auto;
    height: 75px;
}
nav.main_list .navlinks {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0;
    width: auto;
    height: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

nav.main_list .navlinks li {
    width: auto;
    height: auto;
    padding: 0;
    padding-right: 3rem;
    padding-top: 5px;
}

nav.main_list .navlinks li a {
    width: auto;
    height: 75px;
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

nav.main_list ul  li a:hover {
    color: #5390d9;
}

/* Title styles */
.header_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
}

.header_container::before {
    content: "";
    display: block;
    position: absolute;
    top: -40%;
    bottom: 95%;
    right: 0;
    left: 0;
    background-color: #00a5cf;
    transform: skewY(-15deg);
    z-index: 2;
}

.header_container::after {
    content: "";
    display: block;
    position: absolute;
    top: 90%;
    bottom: -40%;
    right: 0;
    left: 0;
    background-color: #fca311;
    transform: skewY(-15deg);
    z-index: 2;
}

.title_container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 650px;
    z-index: 3;
}

.title_container > div.name_box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.name_box > div#selfImg {
    text-align: center;
}

.name_box > div#selfImg img#self_icon {
    border-radius: 50%;
    width: 130px;
    height: 130px;
}

.name_box > div#nameTitle {
    width: auto;
    text-align: center;
}

.name_box > div#occupation {
    width: auto;
    text-align: center;
}

#mainname {
    font-size: 3rem;
    color: #fff;
}

#doubleline {
    padding: 1rem 2rem;
    border-top: 5px double #fff;
    border-bottom: 5px double #fff;
    color: #fff;
}

.title_container div.SNS_icons {
    position: absolute;
    top: 90%;
    left: 90%;
    transform: translate(-50%,-50%);
}

.icon_layout {
    width: 350px;
    height: 60px;
    text-align: left;
    margin-right: 3rem;
}

.icon_layout .icons {
    display: inline-block;
    margin-right: 50px;
    width: 60px;
}

.down_arrow {
    position: absolute;
    top: 75%;
    left: 50%;
    text-align: center;
}
